.auth-form {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: auto;
  }
  .or-divider {
    justify-self: center;
  }

  .auth-container {
    height: 100%;
    place-items: center;
    display: grid;
  }