.auth-form {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: auto;
  }
  .or-divider {
    justify-self: center;
  }

  .auth-container {
    height: 100%;
    place-items: center;
    display: grid;
  }

  .error-message {
    background: var(--error-color);
    border-radius: 0.3rem;
    padding: 0.3rem;
  }

  .success-message {
    background: var(--success-color);
    border-radius: 0.3rem;
    padding: 0.3rem;
  }