.chat {
  display: grid;
  grid-template-columns: 30% 70%;
  align-content: center;
  overflow-y: hidden;
  height: 100%;;
}

.contact-list {
  text-align: center;
  overflow-y: scroll;
}

.list-title {
  padding: 1rem;
  color: #D2F4D9;
}

.logout-section {
  background: var(--primary);
  position: fixed;
  bottom: 0.5rem;
  color: var(--error-color);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0 0.8rem 0.8rem 0;
}